<div class="input-group">
    <span class="input-group-btn">
        <button class="btn" (click)="newLocationClick($event)">New</button>
    </span>
    <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchText">
</div>
<div [hidden]="!isNewLocationOpen">
    <div class="panel panel-default location-card">
        <div class="panel-heading">
            <input type="text" class="form-control" [(ngModel)]="newLocation.name" placeholder="Location" />
        </div>
        <input type="text" class="form-control" [(ngModel)]="newLocation.latitude" placeholder="Latitude"/>
        <input type="text" class="form-control" [(ngModel)]="newLocation.longitude" placeholder="Longitude" />
        <div id="map-new" class="map">
            Loading map
        </div>
        <div class="panel-footer">
            <button class="btn btn-primary" (click)="saveLocationClick($event)">Save</button>
            <button class="btn" (click)="discardLocationClick($event)">Discard</button>
        </div>
    </div>
</div>

<div class="panel panel-default location-card" *ngFor="let location of locations | locationFilter : searchText">
    <div class="panel-heading">
        <a [routerLink]="['/location-detail', location.id]"> {{ location.name }} </a>
    </div>
    <div id="map-{{ location.id }}" class="map">
        Loading map
    </div>
    <div class="panel-footer">
        <button class="btn btn-danger" (click)="deleteLocationClick($event, location.id)">Delete</button>
    </div>
</div>