.map {
    width: 300px;
    height: 300px;
}

.search-bar {
    margin-top: 20px;
    margin-bottom: 20px;
}

.location-card {
    display: inline-block;
    margin-right: 15px;
    vertical-align: top;
}

    .location-card p {
        font-weight: bold;
        margin: 5px;
        text-align: center;
    }