<div class="input-group search-bar">
    <span class="input-group-btn">
        <button class="btn" (click)="newItemClick($event)">New</button>
    </span>
    <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchText">
</div>
<div [hidden]="!isNewItemOpen">
    <clothing-item-card [item]="newItem" [isEdit]="true"></clothing-item-card>
</div>
<div class="item-card" *ngFor="let item of clothingItems | clothingItemFilter : searchText">
    <clothing-item-card [item]="item"></clothing-item-card>
</div>