<div class="log-container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="input-group">
                <span class="input-group-addon">Search</span>
                <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchText">
            </div>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>Message</th>
                <th>Stacktrace</th>
                <th>Source</th>
                <th>Timestamp</th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let logMessage of logMessages | logFilter : searchText">
                    <td>{{logMessage.message}}</td>
                    <td>{{logMessage.stacktrace}}</td>
                    <td>{{logMessage.source}}</td>
                    <td>{{logMessage.timestamp}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>